# Narrativa de Datos sobre COVID-19 en LATAM

En este cuaderno, exploramos datos relacionados con la evolución de la pandemia de COVID-19 en países de América Latina (LATAM). Usamos datos históricos de casos, muertes y vacunaciones para contar una historia visual impactante sobre cómo la pandemia afectó esta región.

In [2]:
# Importar las bibliotecas necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configurar estilo de gráficos
sns.set(style="whitegrid")

## 1. Cargar los datos
Cargamos los datos desde el archivo CSV proporcionado.

In [1]:
# Descargar la base de datos
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("davidrestrepo/challenge-covid19-in-latam")

# print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/davidrestrepo/challenge-covid19-in-latam?dataset_version_number=12...

100%|██████████| 2.84M/2.84M [00:00<00:00, 6.75MB/s]

Extracting files...

Path to dataset files: C:\Users\frany\.cache\kagglehub\datasets\davidrestrepo\challenge-covid19-in-latam\versions\12

In [4]:
# Cargar los datos de casos diarios
file_path = './data/Daily_covid_cases_latam.csv'
daily_cases = pd.read_csv(file_path)

# Mostrar las primeras filas
daily_cases.head()

,location,2020-02-23,2020-02-24,2020-02-25,2020-02-26,2020-02-27,2020-02-28,2020-02-29,2020-03-01,2020-03-02,...,2022-05-17,2022-05-18,2022-05-19,2022-05-20,2022-05-21,2022-05-22,2022-05-23,2022-05-24,2022-05-25,2022-05-26
0,Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,607.730,557.086,0.000,324.123,0.000,405.154,0.000,810.307,577.344
1,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,953.541,0.000,0.000,0.000,0.000
2,Bahamas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,80.622,55.428,123.452,221.710,161.244,156.205,73.064,131.011,0.000,317.449
3,Barbados,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1630.125,1400.726,1289.502,1077.481,0.000,1637.076,451.847,1160.899,851.558,806.373
4,Belize,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,264.253,197.572,288.950,214.860,0.000,0.000,488.992,325.994,306.237,187.694

## 2. Limpieza de datos
Realizamos una limpieza básica para manejar valores faltantes y ajustar el formato.

In [ ]:
# Manejo de valores faltantes
daily_cases.fillna(0, inplace=True)

# Renombrar columnas para mayor claridad (si es necesario)
daily_cases.rename(columns={'location': 'País'}, inplace=True)

# Mostrar resumen de los datos
daily_cases.info()

## 3. Visualización de datos
Generamos gráficos para observar tendencias y patrones en los datos de COVID-19.

In [ ]:
# Seleccionar un país para la visualización
pais_seleccionado = 'Argentina'
datos_pais = daily_cases[daily_cases['País'] == pais_seleccionado].set_index('País').T

# Convertir el índice a formato de fecha
datos_pais.index = pd.to_datetime(datos_pais.index, errors='coerce')

# Graficar los casos diarios
plt.figure(figsize=(12, 6))
plt.plot(datos_pais.index, datos_pais[pais_seleccionado], label=f'Casos diarios en {pais_seleccionado}', color='blue')
plt.title(f'Evolución de casos diarios de COVID-19 en {pais_seleccionado}')
plt.xlabel('Fecha')
plt.ylabel('Casos diarios por millón de habitantes')
plt.legend()
plt.grid(True)
plt.show()

## 4. Conclusiones
El análisis visual de los datos históricos permite observar cómo se desarrolló la pandemia en cada país, identificando momentos críticos y tendencias clave.